/minesweeper/out/
/minesweeper/.idea/
/minesweeper/.idea_modules/
/minesweeper/target/
/minesweeper/src/main/resources/
/minesweeper/pom.xml
/minesweeper/*.iml
/minesweeper/*.ipr
/minesweeper/*.iws
/minesweeper/*.wav
